<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title><%= pageTitle %></title>
</head>

<body>
    <h1><%= pageTitle %></h1>

    <% if (clients && clients.length > 0) { %>
        <table border="1">
            <thead>
                <tr>
                    <th>Tax ID</th>
                    <th>Registration Number</th>
                    <th>Name</th>
                    <th>Street & Number</th>
                    <th>City</th>
                    <th>ZIP</th>
                    <th>Country</th>
                    <th>Email</th>
                    <th>Contacts</th>
                    <th>Actions</th>
                </tr>
                </thead>
                <tbody>
                    <% clients.forEach(client => { %>
                        <tr>
                            <td><%= client.TaxID %></td>
                            <td><%= client.RegNmbr %></td>
                            <td><%= client.ClientName %></td>
                            <td><%= client.StreetAndNmbr %></td>
                            <td><%= client.City %></td>
                            <td><%= client.ZIP %></td>
                            <td><%= client.Country %></td>
                            <td><%= client.Email %></td>
                            <td>
                                <% if (client.contacts && client.contacts.length > 0) { %>
                                    <ul>
                                        <% client.contacts.forEach(contact => { %>
                                            <li><%= contact.ContactName %> (<%= contact.PhoneNmbr %>)</li>
                                        <% }); %>
                                    </ul>
                                <% } else { %>
                                    No contacts
                                <% } %>
                            </td>
                            <td><a href="/admin/client/update/<%= client.TaxID %>">Update</a></td>
                        </tr>
                        <% }); %>
                </tbody>
        </table>
    <% } else { %>
                    <h1>No Clients Found!</h1>
                <% } %>

                <%- include('../includes/end.ejs') %>

</body>
</html>