<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <title>Add Employee</title>
</head>
<body>
  <h1>Add Employee</h1>
  <form action="/admin/employee/insert" method="POST">
    <input type="text" name="EmplType" placeholder="Employee Type" required /> <br />
    <input type="text" name="FirstName" placeholder="First Name" required /> <br />
    <input type="text" name="LastName" placeholder="Last Name" required /> <br />
    <input type="text" name="StreetAndNmbr" placeholder="Street and Number" required /> <br />
    <input type="text" name="City" placeholder="City" required /> <br />
    <input type="text" name="ZIPCode" placeholder="ZIP Code" required /> <br />
    <input type="text" name="Country" placeholder="Country" required /> <br />
    <input type="text" name="PhoneNmbr" placeholder="Phone Number" required /> <br />
    <input type="email" name="EmailAddress" placeholder="Email Address" required /> <br />
    <input type="text" name="IDCardNmbr" placeholder="ID Card Number" required /> <br />
    <input type="text" name="PassportNmbr" placeholder="Passport Number" required /> <br />
    
    <label for="MgrID">Manager:</label>
    <select name="MgrID" id="MgrID">
      <option value="">No Manager</option>
      <% if (typeof managers !== 'undefined') { managers.forEach(manager => { %>
        <option value="<%= manager.EmplID %>"><%= manager.FirstName %> <%= manager.LastName %></option>
      <% }) } %>
    </select><br />

    <label for="Composition">Composition: </label>
    <select name="Composition" id="Composition">
      <option value ="">No Composition</option>
      <% if (typeof compositions !== 'undefined') { compositions.forEach(composition => { %>
        <option value="<%= composition.TruckID %>,<%= composition.TrailerID %>">
      <%= composition.CompositionName %>
    </option>
  <% }) } %>
</select>

    <div class="subsection">
    <p>Employee Inspections</p>
    <% inspections.forEach(insp => { %>
                <label for="empl-inspection-<%= insp.InspectionID %>"><%= insp.Name %> do</label>
                <input type="date" name="emplInspections_<%= insp.InspectionID %>" id="empl-inspection-<%= insp.InspectionID %>">
            <% }) %>
    </div>
<br>

    <button type="submit">Add Employee</button>
  </form><br />
  <a href="/admin/employee/read">Back to all employees</a>
</body>
</html>
