<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <title><%= pageTitle %></title>
</head>

<body>
   <h1><%= pageTitle %></h1>
    <form action="/admin/employee/read" method="GET"></form>
           
        <% if (employees && employees.length > 0) { %>
            <table border="1">
                <thead>
                    <tr>
                        <th>Type</th>
                        <th>First Name</th>
                        <th>Last Name</th>
                        <th>Street And Number</th>
                        <th>City</th>
                        <th>Country</th>
                        <th>Phone</th>
                        <th>Email</th>
                        <th>ID Card</th>
                        <th>Passport</th>
                        <th>Manager</th>
                        <th>Vehicle</th>
                    </tr>
                </thead>
                <tbody>
                    <% employees.forEach(employee => { %>
                        <tr>
                            <td><%= employee.EmplType %></td>
                            <td><%= employee.FirstName %></td>
                            <td><%= employee.LastName %></td>
                            <td><%= employee.StreetAndNmbr %></td>
                            <td><%= employee.City %></td>
                            <td><%= employee.Country %></td>
                            <td><%= employee.PhoneNmbr %></td>
                            <td><%= employee.EmailAddress %></td>
                            <td><%= employee.IDCardNmbr %></td>
                            <td><%= employee.PassportNmbr %></td>
                            <td><%= employee.Manager && employee.Manager.trim() ? employee.Manager : 'No Manager' %></td>
                            <td><%= employee.Vehicle %></td>
                        </tr>
                    <% }) %>
                </tbody>
            </table>
            
            </body>
            
        <% } else { %>
            <h1>No Employees Found!</h1>
        <% } %>
    <%- include('../includes/end.ejs') %>

</html>
