<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <title>Change Employee</title>
</head>
<body>
  <h1>Change Employee</h1>

  <form action="/employee/update/<%= employee.EmplID %>" method="POST">
    
    <fieldset>
      <legend>Employee Details</legend>

      <input type="text" name="EmplType" value="<%= employee.EmplType %>" placeholder="Employee Type" required /> <br />
      <input type="text" name="FirstName" value="<%= employee.FirstName %>" placeholder="First Name" required /> <br />
      <input type="text" name="LastName" value="<%= employee.LastName %>" placeholder="Last Name" required /> <br />
      <input type="text" name="StreetAndNmbr" value="<%= employee.StreetAndNmbr %>" placeholder="Street and Number" required /> <br />
      <input type="text" name="City" value="<%= employee.City %>" placeholder="City" required /> <br />
      <input type="text" name="ZIPCode" value="<%= employee.ZIPCode %>" placeholder="ZIP Code" /> <br />
      <input type="text" name="Country" value="<%= employee.Country %>" placeholder="Country" required /> <br />
      <input type="text" name="PhoneNmbr" value="<%= employee.PhoneNmbr %>" placeholder="Phone Number" required /> <br />
      <input type="email" name="EmailAddress" value="<%= employee.EmailAddress %>" placeholder="Email Address" required /> <br />
      <input type="text" name="IDCardNmbr" value="<%= employee.IDCardNmbr %>" placeholder="ID Card Number" required /> <br />
      <input type="text" name="PassportNmbr" value="<%= employee.PassportNmbr %>" placeholder="Passport Number" required /> <br />
    </fieldset>

    <fieldset>
      <legend>Organizational</legend>

      <label for="MgrID">Manager:</label>
      <select name="MgrID" id="MgrID">
        <option value="">No Manager</option>
        <% managers.forEach(manager => { %>
          <option value="<%= manager.EmplID %>" <%= (employee.MgrID == manager.EmplID) ? 'selected' : '' %>>
            <%= manager.FirstName %> <%= manager.LastName %>
          </option>
        <% }) %>
      </select><br />

      <label for="Vehicle">Vehicle:</label>
      <select name="Vehicle" id="Vehicle">
        <option value="">No Vehicle</option>

        <% if (typeof compositions !== 'undefined' && compositions.length > 0) { %>
          <optgroup label="Compositions">
            <% compositions.forEach(comp => { 
              const isSelected = driverComposition 
                && driverComposition.TruckID === comp.TruckID 
                && driverComposition.TrailerID === comp.TrailerID;
            %>
              <option value="composition:<%= comp.TruckID %>,<%= comp.TrailerID %>" <%= isSelected ? 'selected' : '' %>>
                <%= comp.CompositionName %>
              </option>
            <% }) %>
          </optgroup>
        <% } %>

        <% if (typeof cars !== 'undefined' && cars.length > 0) { %>
          <optgroup label="Cars">
            <% cars.forEach(car => {
              const isSelectedCar = employeeCar && employeeCar.CarID === car.CarID;
            %>
              <option value="car:<%= car.CarID %>" <%= isSelectedCar ? 'selected' : '' %>>
                <%= car.RegistrationTag %>
              </option>
            <% }) %>
          </optgroup>
        <% } %>
      </select><br />
    </fieldset>


    <br>
    <button type="submit">Save Changes</button>
  </form>

  <form action="/employee/delete/<%= employee.EmplID %>" method="POST" style="margin-top:20px;">
    <button type="submit" style="color:red;">Delete</button>
  </form>

  <a href="/employee/read">Back to all employees</a>
</body>
</html>
