<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <title>Change Employee</title>
</head>
<body>
  <h1>Change Employee</h1>
  <form action="/admin/employee/update/<%= employee.EmplID %>" method="POST">
    <label>Employee Type: <input type="text" name="EmplType" value="<%= employee.EmplType %>" required></label><br>
    <label>First Name: <input type="text" name="FirstName" value="<%= employee.FirstName %>" required></label><br>
    <label>Last Name: <input type="text" name="LastName" value="<%= employee.LastName %>" required></label><br>
    <label>Street and Number: <input type="text" name="StreetAndNmbr" value="<%= employee.StreetAndNmbr %>" required></label><br>
    <label>City: <input type="text" name="City" value="<%= employee.City %>" required></label><br>
    <label>ZIP Code: <input type="text" name="ZIPCode" value="<%= employee.ZIPCode %>" required></label><br>
    <label>Country: <input type="text" name="Country" value="<%= employee.Country %>" required></label><br>
    <label>Email: <input type="email" name="EmailAddress" value="<%= employee.EmailAddress %>" required></label><br>
    <label>Phone Number: <input type="text" name="PhoneNmbr" value="<%= employee.PhoneNmbr %>" required></label><br>
    <label>ID Card Number: <input type="text" name="IDCardNmbr" value="<%= employee.IDCardNmbr %>" required></label><br>
    <label>Passport Number: <input type="text" name="PassportNmbr" value="<%= employee.PassportNmbr %>" required></label><br>
    <label>Manager ID: <input type="text" name="MgrID" value="<%= employee.MgrID %>"></label><br>
    <button type="submit">Save</button>
  </form>
  <form action="/admin/employee/delete/<%= employee.EmplID %>" method="POST" style="margin-top:20px;">
    <button type="submit" style="color:red;">Delete</button>
  </form>
  <a href="/admin/employee/read">Back to all employees</a>
</body>
</html>
