<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">   
    <title><%= pageTitle %></title>
 </head>

<body>
    <h1><%= pageTitle %></h1>
    <form action="/outInvoice/read" method="GET"></form>

    <% if (invoices && invoices.length > 0) { %>
        <table border="1">
            <thead>
                <tr>
                    <th>Doc.Status</th>
                    <th>Proc.Status</th>
                    <th>Invoice Number</th>
                    <th>Recipient</th>
                    <th>Total Amount</th>
                    <th>Payment Status</th>   
                </tr>
            </thead>
            <tbody>
    <% invoices.forEach(inv => { %>
        <tr>
            <td><%= inv.DocumentStatus %></td>
            <td><%= inv.ProcessingStatus %></td>
            <td><%= inv.InvoiceNumber %></td>
            <td><%= inv.Recipient %></td>
            <td><%= inv.TotalInvoiceAmount %></td>
            <td><%= inv.PaymentStatus %></td>
        </tr>
<% }) %>
                </tbody>
        </table>
</body>
  <% } else { %>
            <h1>No Invoices Found!</h1>
        <% } %>
    <%- include('../includes/end.ejs') %>
</html>