<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title><%= pageTitle %></title>
</head>

<body>
    <h1><%= pageTitle %></h1>

    <% if (compositions && compositions.length > 0) { %>
        <table border="1">
            <thead>
                <tr>
                    <th>Composition</th>
                    <th>Truck</th>
                    <th>Trailer</th>
                    <th>Driver Name</th>
                </tr>
            </thead>
            <tbody>
                <% compositions.forEach(composition => { %>
                    <tr>
                        <td><%= composition.Composition %></td>
                        <td><%= composition.Truck %></td>
                        <td><%= composition.Trailer %></td>
                        <td><%= composition.DriverName && composition.DriverName.trim() ? composition.DriverName : 'No Driver' %></td>
                    </tr>
                <% }) %>
            </tbody>
        </table>
    <% } else { %>
        <h1>No Compositions Found!</h1>
    <% } %>

    <%- include('../includes/end.ejs') %>
</body>
</html>
